<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>938925885472-986lg85l4e7afn2sgo36q99ecshepa6o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.938925885472-986lg85l4e7afn2sgo36q99ecshepa6o</string>
	<key>API_KEY</key>
	<string>AIzaSyA2464wuKAYS817T9Gi2iF3HXipqr7IXFs</string>
	<key>GCM_SENDER_ID</key>
	<string>938925885472</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fourHoursClient</string>
	<key>PROJECT_ID</key>
	<string>four-hours-5d3dd</string>
	<key>STORAGE_BUCKET</key>
	<string>four-hours-5d3dd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:938925885472:ios:5f7cb7d3e91c4768b91445</string>
</dict>
</plist>